/* @media only screen and (min-width: 701px) {
   
} */

@media only screen and (min-width: 1001px) {
    .five-column-seperation {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 10px 20px;
    }
    .three-column-seperation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 20px;
    }
    .equal-columns-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 20px;
    }
    .section-parent .anime-class-img,.section-parent .anime-class-img-spec {
        width: 42vw;
        height: 47vh;
    }
    .card-background-class {
        height: 80%;
        width: 90vw;
        background-Image: url('../../Assets/Card-background.png');
        background-repeat: no-repeat;
    }
    .content-head {
        /* font-family: Nunito Sans; */
        margin-top: 4%;
        font-size: 4vw;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 45px;
    }
    .spacing-class {
        height: 12vh;
    }
}


.equal-columns-grid-2 {
    height: 80vh;
    background-Image: url("../../Assets/Wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:120px ;
}
.equal-columns-grid-2 .content-content-2,.equal-columns-grid-2 .content-content-2 h2{
    color:#fff ;
}

.card-container-class {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    cursor: pointer;
}

.one-columns-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.content-container-class {
    background-color: #fff;
}



/* section-1 css */

.content-super {
    font-size: 22px;
}



.content-para {
    font-size: 18px;
    text-align: justify;
    padding-right: 6vw;
    line-height: 25px;
    font-weight: 600;
}

.center-class {
    width: 100%;
    margin: 0 auto;
    height: 45vh;
    text-align: center;
    background: rgb(242, 242, 242, 0.6)
}

.first-page-card-class {
    transition: all .5s ease;
    width: 16vw;
    border-radius: 16px !important;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.content-sub-head {
    font-family: Nunito Sans;
    margin-top: 5%;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.first-page-card-class h2 {
    color: inherit !important;
}

.first-page-card-class p {
    font-weight: 600;
    font-size: 14px;
}

.three-column-seperation .first-page-card-class {
    width: 90%;
    margin: 0 auto;
}

.first-page-card-class:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card-img-class {
    width: 100%;
    border-radius: 16px !important;
}

.three-column-seperation .ant-card .ant-card-body {
    padding: 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: transparent;
    overflow: hidden;
}

.one-column-seperation {
    display: grid;
    grid-template-rows: 1fr;
}

.slick-dots-bottom li button {
    background-color: #00474f !important;
    color: #00474f !important;
    height: 1vh !important;
}

.comment-class {
    width: 100%;
    margin: 0 auto;
}

.comment-class-para {
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-family: Nunito Sans;
    font-size: 2vw;
    font-weight: bolder;
    letter-spacing: 2px;
}

.testimonial-sec .center-class {
    height: 30vh;
}
.center-class .content-para{
    margin: 0 auto !important;
    width: 80% !important;
    padding-right: 0px;
}

.five-column-seperation .ant-card-meta-avatar>.ant-avatar-circle {
    width: 70px;
    height: 70px;
}



.picture-background-class {
    height: 100%;
    width: 100%;
    background-Image: url('https://res.cloudinary.com/tanzeelah/image/upload/v1597417927/Landing%20Page/Untitled-2_pdlp7e.png');
    background-Image: url('https://res.cloudinary.com/tanzeelah/image/upload/v1597414281/Landing%20Page/What_we_offer_background_yagihw.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.comments-background-class {
    width: 100%;
    background-Image: url('https://res.cloudinary.com/tanzeelah/image/upload/v1597418339/Landing%20Page/Untitled-5_gvf3rg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Mobile CSS  */

/* @media only screen and (min-width: 280px)and (max-width: 800px) {
} */

@media only screen and (min-width: 280px)and (max-width: 400px) {
    .section-parent {
        display: grid;
        grid-template-rows: .4fr .4fr .4fr 2fr 2fr;
    }
    .card-background-class {
        height: 80%;
        width: 99vw;
        background-Image: url('../../Assets/Card-background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-head {
        /* font-family: Nunito Sans; */
        margin-top: 4%;
        font-size: 10vw;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 45px;
    }
    .spacing-class {
        height: 2vh;
    }
}

@media only screen and (min-width: 401px)and (max-width: 700px) {
    .section-parent {
        display: grid;
        grid-template-rows: .2fr .4fr .2fr 2fr 2fr;
    }
    .equal-columns-grid-2 {
        height: 78vh;
        padding-top: 10em;
    }
    .card-background-class {
        height: 80%;
        width: 100vw;
        background-Image: url('../../Assets/Card-background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-parent .anime-class-img-spec{
        width: 90vw;
        height: 60vh;
        margin: 0 auto;
    }
    .section-parent .anime-class-img {
        width: 85vw;
        height: 40vh;
        margin-left: 4vw;
    }
    .content-head {
        /* font-family: Nunito Sans; */
        margin-top: 4%;
        font-size: 8vw;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 45px;
    }
    .spacing-class {
        height: 6vh;
    }
}
@media only screen and (min-width: 701px)and (max-width: 1000px) {
    .section-parent {
        display: grid;
        grid-template-rows: .2fr .4fr .2fr 1.5fr 1.8fr;
    }
    .equal-columns-grid-2 {
        height: 68vh;
        padding-top: 9em;
    }
    .card-background-class {
        height: 80%;
        width: 90vw;
        background-Image: url('../../Assets/Card-background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-parent .anime-class-img-spec{
        width: 90vw;
        height: 60vh;
        margin: 0 auto;
    }
    .section-parent .anime-class-img {
        width: 85vw;
        height: 40vh;
        margin-left: 4vw;
    }
    .content-head {
        /* font-family: Nunito Sans; */
        margin-top: 4%;
        font-size: 4vw;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 45px;
    }
    .spacing-class {
        height: 10vh;
    }
}

@media only screen and (max-width: 400px) {
    .equal-columns-grid-2,.equal-columns-grid-3,.equal-columns-grid-1 {
        height: 78vh;
        padding-top: 4em;
    }
    .section-parent .anime-class-img-spec{
        width: 99vw;
        height: 60vh;
        margin: 0 auto;
    }
    .section-parent .anime-class-img {
        width: 99vw;
        height: 35vh;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 270px)and (max-width: 1000px) {
    .equal-columns-grid {
        display: grid;
        grid-template-rows: repeat(2, .5fr);
    }
    .equal-columns-grid {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .five-column-seperation {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
    }
    .first-page-card-class {
        transition: all .5s ease;
        margin: 10px auto !important;
        width: 90%;
    }
    .three-column-seperation {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    .comment-class-para {
        font-size: 4vw;
    }
}