@media only screen and (max-width: 790px) {
    .mobile-Footer {
        cursor: pointer;
        position: fixed;
        width: 100vw;
        bottom: 0%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: transparent;
    }
    .arrowUpKey {
        background-color: #01989d;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        padding-top: 16px;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
    .arrowDownKey {
        background-color: #01989d;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        padding-top: 16px;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
    .desktop-class-icons .arrowDownKey, .desktop-class-icons .arrowUpKey {
        display: none;
    }
    .guru-class {
        width: 58px;
        padding-left: 2px;
    }
    .guru-parent-class {
        margin: 0 auto;
        float: left;
        width: 60px;
        height: 60px;
        font-size: 20px;
        background-color: #01989d;
        border-radius: 40px;
    }
}

@media only screen and (min-width: 791px) {
    .mobile-Footer {
        display: none;
    }
}