.ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid #11474f;
    background: #fff;
}

.marginClass {
    margin: 20px 16px 20px 5px;
}
.ant-descriptions-view{
    width:101%
}
.underlineClass{
    text-decoration: underline;
}