.ant-table-filter-dropdown .ant-dropdown-menu-without-submenu {
    height: 300px;
    width: 350px;
}
@media only screen and (min-width: 300px)and (max-width: 700px) {
    .ant-table-filter-dropdown .ant-dropdown-menu-without-submenu {
        height: 300px;
        width: 200px;
    }   
}

/* .ant-table-content{
    overflow-y: scroll !important;
    max-height: 640px !important;
} */