@media only screen and (max-width: 790px) {
    .side-guru-parent-class {
        display: none;
    }
    .ant-notification-hook-holder, .ant-notification-notice {
        width: 80vw;
    }
}

@media only screen and (min-width: 791px) {
    .side-guru-parent-class {
        cursor: pointer;
        position: fixed;
        width: 60px;
        height: 60px;
        top: 54vh;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #01989d;
        border-radius: 60px;
        right: 20px;
    }
    .side-guru-class {
        width: 90%;
        padding-left: 6px;
        padding-top: 3px;
    }
    .ant-notification-hook-holder, .ant-notification-notice {
        width: 50vw;
        min-height: 16vh;
    }
    /* .side-guru-parent-class h6 {
        float: left;
        width: 30vw;
        height: 8vh;
        font-size: 20px;
        padding-top: 25px;
        color: #f9d000;
    } */
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-left: 85px;
    font-size: 14px;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
    margin-bottom: 4px;
    margin-left: 85px;
    font-size: 16px;
}

.ant-notification-notice-closable .anticon-close, .cursorClass {
    color: #000;
    transition: all .5s ease;
}