
.content-head-faq{
    text-align: center;
}
@media only screen and (max-width: 790px){
    .faq-class{
        width:100vw;
        margin:20px auto;
    }
  }
  @media only screen and (min-width: 791px){
    .faq-class{
        width:80vw;
        margin:20px auto;
    }
  }
.faq-class .ant-collapse-header,.faq-class .ant-collapse-content-box{
    transition: all .5s ease;
    transform: scale(1) !important;
    font-size: 20px;
}
.faq-class .ant-collapse-header:hover,.faq-class .ant-collapse-content-box:hover{
    transition: all .5s ease;
    transform: scale(1.02) !important;
    font-size: 20px;
}