.terr-section-parent .equal-columns-grid, .terr-section-parent .equal-columns-grid .content-content-1,.terr-section-parent .ant-descriptions-bordered,.detail-territory {
    border-radius: 16px !important;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    transition: all .5s ease;
    margin: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.pakistanPageImgClass {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 85vw;
    max-width: 1200px;
    margin-bottom: 30px;
}

.pakistanPageHeading {
    width: 85vw;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 32px;
    padding-top: 20px;
    line-height: 35px;
}

.pakistanTableClass {
    margin: 15px;
}

.pakistanBoldPara {
    width: 85vw;
    font-weight: 900;
    text-align: left;
    margin: 10px;
    line-height: 20px;
}


.pageParagraphClass {
    margin: 20px;
    width: 90vw;
}



.terr-section-parent .anime-class-img:hover {
    transition: all 1s ease;
    transform: scale(1);
}
#link-class{
    text-decoration: none;
    display: grid;
    color:#000
}
.detail-territory .pakistanBoldPara {
    line-height: 25px;
    padding-right: 20px
}
.detail-territory{
    width: 86vw;
}
.terr-second-heading-class{
    margin:20px;
    line-height: 25px;
}
.terr-section-parent .content-head{
    font-size: 3vw;
}
@media only screen and (min-width: 1001px) {
    .terr-section-parent {
        display: grid;
        grid-template-rows: .6fr .6fr .6fr .6fr .6fr .6fr .6fr 8fr 2.5fr 2.5fr 1.5fr 2.5fr 2fr 2.5fr;
    }
    .terr-section-parent .anime-class-img {
        width: 42vw;
        height: 90Vh;
        transition: all 1s ease;
        transform: scale(.8);
    }
    .terr-section-parent .equal-columns-grid .content-content-1 {
        width: 38vw;
        padding-left: 5px;
    }
    .terr-section-parent .content-para {
        padding-right: 1vw;
    }
    .terr-section-parent .equal-columns-grid {
        width: 86vw;
    }
    .terr-section-parent .ant-table-wrapper,.terr-section-parent .ant-descriptions-bordered {
        width: 87vw;
    }
    .detail-territory .pakistanBoldPara {
        font-size: 20px;
        padding-right: 20px
      }
}

@media only screen and (min-width: 701px)and (max-width: 1000px) {
    .terr-section-parent {
        display: grid;
        grid-template-rows: .6fr .6fr .6fr .6fr .6fr .6fr .6fr 6fr 2.5fr 2fr 1fr 2fr 2fr 2.3fr;
    }
    .terr-section-parent .anime-class-img {
        width: 82vw;
        height: 100vh;
        margin-left: 1vw;
        transition: all 1s ease;
        transform: scale(.8);
    }
    .terr-section-parent .equal-columns-grid .content-content-1 {
        width: 82vw;
        padding-left: 5px;
    }
    .terr-section-parent .equal-columns-grid {
        width: 86vw;
    }
    .terr-section-parent .ant-table-wrapper,.terr-section-parent .ant-descriptions-bordered {
        width: 87vw;
    }
    .detail-territory .pakistanBoldPara {
        font-size: 20px;
        padding-right: 20px
      }
}





@media only screen and (min-width: 401px)and (max-width: 700px) {
    .terr-section-parent {
        display: grid;
        grid-template-rows: .3fr .3fr .3fr .3fr .3fr .3fr .3fr 2.6fr 1.3fr 1fr .5fr 1fr 1fr 1.2fr;
    }
    .terr-section-parent .anime-class-img {
        width: 85vw;
        height: 80vh;
        margin-left: 4vw;
        transition: all 1s ease;
        transform: scale(.8);
    }
    .terr-section-parent .equal-columns-grid .content-content-1 {
        width: 80vw;
        padding-left: 5px;
    }
    .terr-section-parent .equal-columns-grid {
        width: 92vw;
    }
    .terr-section-parent .ant-table-wrapper,.terr-section-parent .ant-descriptions-bordered {
        width: 94vw;
    }
    .detail-territory .pakistanBoldPara {
        font-size: 18px;
        padding-right: 20px
      }
}

@media only screen and (min-width: 280px)and (max-width: 400px) {
    .terr-section-parent {
        display: grid;
        grid-template-rows: .2fr .2fr .2fr .2fr .2fr .2fr .2fr 2.5fr 1.3fr .9fr .4fr .9fr .9fr 1fr;
    }
    .terr-section-parent .anime-class-img {
        width: 88vw;
        height: 60vh;
        margin: 0 auto;
        transition: all 1s ease;
        transform: scale(.8);
    }
    .terr-section-parent .equal-columns-grid .content-content-1 {
        width: 82vw;
        padding-left: 5px;
    }
    .terr-section-parent .equal-columns-grid {
        width: 92vw;
    }
    .terr-section-parent .ant-table-wrapper,.terr-section-parent .ant-descriptions-bordered {
        width: 94vw;
    }
    .detail-territory .pakistanBoldPara {
        font-size: 16px;
        padding-right: 20px
      }
      .pakistanPageHeading{
          margin-left: 0px;
      }
}
